apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ispmonitor

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
